.radio-g2 {
    text-align: left !important;
}
.radio-g2 > * {
    display: inline-block !important;
    position: unset !important;
    margin-right: 1.3em; 
    margin-bottom: .9em;
}
.radio-g2 .form-check-input {
    margin-top: .2em !important; 
}
.radio-g2 .form-check-label {
    margin-left: .4em !important; 
}